/* open-sans-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../432abaf385d938750963.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* open-sans-cyrillic-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../8c8b009e2308cfd36674.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* open-sans-greek-ext-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../7f0c7c378a3ca829b189.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* open-sans-greek-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../f4df5aa87d97ffdd65c4.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* open-sans-hebrew-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../c4e6d354894703317c0c.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* open-sans-vietnamese-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../1970138327ca2599f2c5.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* open-sans-latin-ext-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../0950a0dbc206706736db.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* open-sans-latin-400-normal*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../../a2d02404d087c7c068d4.woff2) format('woff2'), url(../../fd1a30188fbba33c1971.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*# sourceMappingURL=main.65ac5e98.css.map*/